// Both
.PopupOverlay {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 9;
    background-color: rgba(0,0,0,0.8)
}

.VideoPopup {
    position: fixed;
    top: 50px;
    left: 50px;
    right: 50px;
    bottom: 50px;
    z-index: 10;
    /*width: 90%;
    height: 90%;
    margin: -25% 0 0 -45%;*/
    font-family: "Lato", sans-serif;
    border: 1px solid black;
}

.VideoPopup .Header {
    width: 100%;
    height: 5%;
    background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.5) 100%);
    font-size: 24px;
}

.VideoPopup .Header h1{
    display: inline;
}

// Video Watching Section

.VideoPopup .Video {
    width: 100%;
    height: 65%;
    margin: 0 auto;
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0) 100%);
}

.VideoPopup .Video .VideoPlayer {
    width: 60%;
    height: 100%;
    float: left;
}

.VideoPopup .Video .VideoPlayer object {
    margin: 0 auto;
}

.VideoPopup .Video .VideoPlayer div{
    width: 100%;
    height: 85%;
}

.VideoPopup .Video .VideoSubtitle {
    width: 40%;
    height: 100%;
    float: left;
    text-align: center;
    overflow: auto;
}

.VideoPopup .Video .VideoSubtitle h1 {
    font-size: 40px;
}

.VideoPopup .Video .VideoSubtitle .subtitles {
    width: 80%;
    margin: 0 auto;
    text-align: left;
    overflow: scroll;
}

.VideoPopup .Video .VideoSubtitle .subtitles p {
    font-size: 30px;
}

.VideoPopup .Video .VideoSubtitle .subtitles p span{
    margin-right: 15px;
}

.VideoPopup .Context {
    width: 100%;
    height: 35%;
    background-color: black;
}

.VideoPopup .Context h1 {
    font-size: 30px;
    text-align: center;
}

.VideoPopup .Context .ContextInfo {
    width: 30%;
    margin: 0 auto;
    text-align: center;
}

.VideoPopup .Context .ContextInfo h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

// Related Video Section

.VideoPopup .VideoFinished {
    width: 100%;
    height: 30%;
    margin: 0 auto;
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0) 100%);
}

.VideoPopup .VideoFinished .VideoPlayer {
    width: 100%;
    height: 100%;
}

.VideoPopup .VideoFinished .VideoPlayer div{
    width: 20%;
    height: 70%;
    margin: 0 auto;
    margin-top: 1%;
}

.VideoPopup .VideoFinished .VideoPlayer a{
    width: 30%;
    margin: 0 auto;
    margin-top: 1%;
}

.VideoPopup .RelatedSection {
    width: 100%;
    height: 70%;
    background-color: black;
}

.VideoPopup .RelatedSection h1 {
    font-size: 30px;
    text-align: center;
}

.VideoPopup .RelatedSection .RelatedVideo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    width: 70%;
    height: 75%;
    margin: 0 auto;
}

.VideoPopup .RelatedSection .RelatedVideo > div {
    margin-top: 1%;
    width: 80%;
    height: 90%;
}

.VideoPopup .RelatedSection .RelatedVideo .RelatedSpeechAct {
    grid-row: 1;
    grid-column: 1;    
}

.VideoPopup .RelatedSection .RelatedVideo .RelatedIntensity {
    grid-row: 1;
    grid-column: 2; 
}

.VideoPopup .RelatedSection .RelatedVideo .RelatedRelationship {
    grid-row: 2;
    grid-column: 1; 
}

.VideoPopup .RelatedSection .RelatedVideo .RelatedFormality {
    grid-row: 2;
    grid-column: 2; 
}

.VideoPopup .RelatedSection .RelatedVideo > div > div {
    width: 100%;
    height: 95%;     
}